body {
    font-family: "Source Han Serif CN";
    font-size: 16px;
    counter-reset: h3-counter st-counter;
    color: black;
}

h1, h3, h4, h5, h6, st {
    font-family: "Lato", "Source Han Sans CN";
    text-decoration: none;
    border: none;
    font-weight: 600;
}

st:before {
    counter-increment: st-counter;
    content: counter(h3-counter) "." counter(st-counter) " ";
}

st:after {
    content: "　";
}

h1, h2 {
    text-align: center;
}

h1 {
    padding-top: 3em;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

h3:before {
    counter-increment: h3-counter;
    content: counter(h3-counter) ". ";
}

h3 {
    counter-reset: st-counter;
    margin: 2em 0 .5em 0;
}

p {
    text-indent: 2em;
    margin: .5em 0;
    text-align: justify;
    hyphens: auto;
}

b, strong {
    font-family: "Lato", "Source Han Sans CN";
    font-weight: 600;
}

pre, code {
    word-break: break-all;
    white-space: pre-wrap;
}

code {
    font-family: "Lato";
    color: black;
}

pre {
    border: 1px solid black;
    margin:.5em 2em;
    padding: .1em .3em;
}

pre, pre code {
    font-family: "JetBrains Mono";
    font-size: 0.95em;
}

img {
/*     width: calc(100% - 4em); */
    display: block;
    /* width: 90%; */
    margin: 0 auto;
    page-break-inside: avoid;
}

ol, ul {
    margin: .5em 0 .5em 3em;
}

ol p, ul p {
    text-indent: 0;
}

a {
    color: black;
    text-decoration: none;
    word-break: break-all;
}

table {
    margin: .5em auto;
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    padding: 0 .5em;
    border: 1px solid black;
    min-width: 2.4em;
}

.katex {
    font-size: 1em;
    line-height: normal;
}

.footnote {
    font-size: .9em;
}

.footnote ol {
    margin: .5em 2em;
    padding-left: 0;
}

.footnote ol p {
    margin: .1em;
}

.footnote > hr {
    display: none;
}

.footnote-ref:before {
    content: "[";
}

sup {
    vertical-align: baseline;
    font-size: .97em;
}

.footnote-ref {
    font-family: Lato;
}

.footnote-ref:after {
    content: "]";
}

.footnote-backref {
    display: none;
}

@counter-style references {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    prefix: "[";
    suffix: "] ";
}

.footnote ol {
    list-style-type: references;
}

@media print {
    .page-splitter {
        page-break-after: always;
    }
}

.cjk_fallback {
    font-family: "Source Han Serif CN";
    font-size: 95%;
}